body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Add this CSS to your styles or in a CSS file */
.table-container {
  max-width: 80%;  /* Adjust the width as needed */
  /* margin: 0 auto;  Center the table */
}

.table-auto {
  width: 100%;  /* Ensure the table takes up the full width of its container */
  table-layout: fixed;  /* Makes the columns more evenly spaced */
}
